extends layout

block content
  .row.banner
    .col-12
      h1 #{ordinal_number}th Fortnight of 2029 Calendar
      h3  
        small &nbsp;Fit user activities around the perception of their fatigue based on discussion and validations of their based opinions.
  .row
    .col-md-6
      .card.card-primary(style={opacity:0.5})
          .card-block
            h2.card-title Toggle Rule Header if Desired
            .card-header
              p.lead Rule inference for adherentWhoAdherence, with ont-ised citation and rule inference for other requirements using verified API
              p  
                br
                | shP2hasType[?P,?adherentWhoAdherence]:- 
                br
                | &emsp; sh:E21Person[?P],
                br 
                | &emsp; sh:FW44PhysicalActivity[?PA],
                br 
                | &emsp; sh:FW41CarriedOutBy[?PA,?P], ...

  .row  
    .col-12.col-md-6
      p.rating
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.far.fa-star
          i.far.fa-star
      p Current Adherence over 4 Fortnights is : Adherent
  
  .row
    .col-12
      .card.card-primary
        .card-body
          h2 Calendar / Timeslots 
        .card-block.card-body 
          p Show the named times of day as columns with rows of specific periods. Hovering over the periods shows the allocation and a "change" button, clicking on them could expose a sidebar or header with citations.
          br
          table
            tbody 
              tr 
                td
                  input(type="datetime-local", name="")
                a.btn.btn-primary.float-right(href='/location/review/new') Draft a schedule for your activities
        .card-block.card-header
          .row
            .col-2
              .card-body.card-header(style={'text-align':'center',padding:'2px 0 2px 0'})
                  p.card-header(style={'margin':'0px 1px 0px 1px'}) Day
              -for(let d=1;d<15;d++)
                .card-body.card-header(style={'text-align':'center',padding:'2px 0 2px 0'})
                  p.card-header(style={'margin':'0px 1px 0px 1px'}) #{d} day
            .col-10
              .sticky-xhead-ymarg-scroll-window
                .ca-days-hours-table
                  .col-12
                    .row
                      - for(let i=1;i<=12;i++)
                        .card-body.card-header.col-1(style={'text-align':'center',padding:'1px 0 1px 0'})
                          .row(style={'margin-right':'0','margin-left':'0'})
                            .col-6(style={padding:'0'})
                              p.card-header(style={'margin':'0px 1px 0px 1px'}) #{i*2-1}
                            .col-6(style={padding:'0'})
                              p.card-header(style={'margin':'0px 1px 0px 1px'}) #{i*2}
                    - for(let d=1;d<=14;d++)
                      .row
                        - for(let g=1;g<=12;g++)
                          .card-body.card-header.col-1(style={'text-align':'center',padding:'2px 0 2px 0'})
                            .row(style={'margin-right':'0','margin-left':'0'})
                              .col-6(style={padding:'0'})
                                .card-header(style={'margin':'0px 1px 0px 1px',padding:'3px 0 3px 0'}) 
                                  hr(style={background:'green',width:'30%',margin:'0px 1px 0px 0px',padding:'0'})
                                  p(style={padding:'0',margin:'0'}) Geometry
                                  hr(style={background:'blue',width:'10%',margin:'1px 1px 0px 0px',padding:'0'})
                              .col-6(style={padding:'0'})
                                .card-header(style={'margin':'0px 1px 0px 1px',padding:'3px 0 3px 0'}) 
                                  hr(style={background:'green',width:'30%',margin:'0px 1px 0px 0px',padding:'0'})
                                  p(style={padding:'0',margin:'0'}) Geometry
                                  hr(style={background:'blue',width:'10%',margin:'1px 1px 0px 0px',padding:'0'})



        .card-block.card-body 
          h4 any times that align with the chosen named periods are under the named headings for the selected activities in  sequential order, not geometrically
    


  .row
    .col-12.col-md-9
      .card.card-primary.review-card
        .card-block
          a.btn.btn-primary.float-right(href='/location/review/new') Add review
          h2.card-title Comments Generated from previous 3 or 4 weeks
          .row.review
            .col-12.no-gutters.review-header
              span.rating
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
                i(style={color: 'red'}).far.fa-star
              span.reviewAuthor &nbsp;&nbsp; Fatigue change
              small.reviewTimestamp.float-right  16 February 2017
            .col-12
              p Fatigue went from 2 to 1, maintain rest frequency, vm will likely raise fatigue to 2, increase tea/hydration/hot chocolate. trial admin, group admin and accepted aid/care users can push SLEEP EMOJI here
          .row.review
            .col-12.no-gutters.review-header
              span.rating
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
                i.far.fa-star
              span.reviewAuthor &nbsp;&nbsp; FOOD REQUEST
              small.reviewTimestamp.float-right 14 February 2017
            .col-12
              p FOOD diary can post food emojis here. FOOD REQUESTS can also be made.
    .col-12.col-md-3
      .card.card-primary
        .card-body
          h2.card-title Active Times             
        .card-header
          p.card-text Early AM : 
            span.float-right 5:00am - 6:59am
          p.card-text Morning : 
            span.float-right 7:00am - 11:59am
          p.card-text Afternoon : 
            span.float-right 12:00pm - 4:59pm
          p.card-text Eve : 
            span.float-right 5:00pm - 8:00pm 

        .card-body.a.btn.btn-primary(href='/location/review/new') Change Your Active Times
      .card.card-primary
        .card-block
          h2.card-title Modes
          .card-header
            span.badge.badge-warning
              i.fa.fa-check
              | &nbsp;InhibitoryControl:2
            | &nbsp;
            span.badge.badge-warning
              i.fa.fa-check
              | &nbsp;Fatigue:1
            | &nbsp;
            span.badge.badge-warning
              i.fa.fa-check
              | &nbsp;PriorityPA:MM
            | &nbsp;


