extends layout

block content
  .row.banner
    .col-12
      h1 list of fortnights for 2023
        small &nbsp;conduct fatigue analysis per fortnight. Stay Alive.

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href='/cal-mon') Fortnight 1
            small &nbsp;&nbsp;
              i(style={color: 'red'}).far.fa-check-circle &nbsp;
              i(style={color: 'green'}).fas.fa-clipboard-check &nbsp;
          span.badge.badge-pill.badge-default.float-right fatigue: 2
          p.address User is muscle_building biased 
          span.badge.badge-pill.badge-default.float-right Adherence: 2
          .facilities
            span.badge.badge-warning eggs 
            span.badge.badge-warning olive oil 
            span.badge.badge-warning butter
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href='/cal-mon') Fortnight 2
            small &nbsp;&nbsp;
              i(style={color: 'green'}).fas.fa-check-circle &nbsp;
              i(style={color: 'red'}).far.fa-check-circle &nbsp;
              i(style={color: 'green'}).fas.fa-clipboard-check &nbsp;
          span.badge.badge-pill.badge-default.float-right fatigue: 2
          p.address User is muscle_building biased 
          span.badge.badge-pill.badge-default.float-right Adherence: 2
          .facilities
            span.badge.badge-warning eggs 
            span.badge.badge-warning olive oil 
            span.badge.badge-warning butter